
/* Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display:flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color:#69bd61;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.title{
 color: #fff;
 font-size: 38px;
 text-align: center;
}

h2.title span{
    color: #69bd61;
}

button:hover{
    box-shadow: 0px 0px 8px  #81ff76;
    transform: scale(1.08);
}

/* Casbeçalho */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.08);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/* UP-SITE */

section.up-site{
    padding: 40px 4%;
}

section.up-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px; 
}

.up-site h1{
    color: #fff;
    font-size: 34px;
    line-height: 40px;
}

.up-site .txt-up-site h1 span{
    color: #69bd61;
}

.up-site .txt-up-site p{
    color: #fff;
    margin: 40px 0;
} 

.up-site .img-up-site img{
    position: relative;
    animation: float 2s ease-in-out infinite alternate;
}

@keyframes float{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* Specialties */
section.specialties{
    padding: 40px 4%;
}

section.specialties .flex{
    gap: 60px;
}
.specialties .specialties-box{
   color: #fff;
   padding: 40px;
   border-radius: 20px;
   margin-top: 45px;
   transition: .2s;
}

.specialties .specialties-box:hover{
    transform: scale(1.08);
    box-shadow: 0 0 16px #ffffff78;
}

.specialties .specialties-box i{
    font-size: 70px;
    color: #69bd61;
}

.specialties .specialties-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* About */
section.about{
    padding: 80px 4%;
}

section.about .flex{
    align-items: center;
    gap: 60px;
}

.about .txt-about{
    color: #fff;
}

.about .txt-about h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.about .txt-about h2 span{
    color: #69bd61;
    display: block;
}

.about .txt-about p{
    margin: 20px 0;
    text-align: justify;
}

.about .txt-about .btn-social button{
    margin: 0 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #69bd61;
    font-size: 22px;
    cursor: pointer;
    transition: .2s;
}

/*Portifólio*/
section.portfolio{
   padding: 80px 4%;
   box-shadow: 0 0 40px 10px #ffffff17;
}

section.portfolio .flex{
    justify-content: space-around;
}

.img-port{
   width:360px;
   height: 460px;
   background-size: cover;
   background-position:100% 0%;
   transition: 8s;
   cursor: pointer;
   border-radius: 40px;
   position: relative;

}

.img-port:hover{
    background-position:100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5c5c5cab;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}