/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #551a8b;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.title {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.title span {
    color: #551a8b;
}

button:hover,
form .btn-enviar input[type=submit]:hover {
    box-shadow: 0px 0px 8px #714d92;
    transform: scale(1.08);
}

/* HEADER - NAV */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.08);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

.logo a img{
    border-radius: 50%;
}

/* MENU MOBILE */

.btn-open-menu i {
    color: #551a8b;
    font-size: 40px;

}

.menu-mobile {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.open-menu {
    width: 60%;

}

.menu-mobile.open-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-close {
    padding: 30px 5%;
}

.menu-mobile .btn-close i {
    color: #551a8b;
    font-size: 28px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 15px 8%;
    display: block;

}

.menu-mobile nav ul li a:hover {
    background-color: #551a8b;
    border-radius: 4px;
    color: #000;
}

.overlay-menu {
    background-color: #0000009d;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* UP-SITE */
section.up-site {
    padding: 40px 4%;
}

section.up-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.up-site h1 {
    color: #fff;
    font-size: 34px;
    line-height: 40px;
}

.up-site .txt-up-site h1 span {
    color: #551a8b;
}

.up-site .txt-up-site p {
    color: #fff;
    margin: 40px 0;
}

.up-site .img-up-site img {
    position: relative;
    animation: float 2s ease-in-out infinite alternate;
}

@keyframes float {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* SPECIALTIES */
section.specialties {
    padding: 40px 4%;
}

section.specialties .flex {
    gap: 60px;
}

.specialties .specialties-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.specialties .specialties-box:hover {
    transform: scale(1.08);
    box-shadow: 0 0 16px #ffffff78;
}

.specialties .specialties-box i {
    font-size: 70px;
    color: #551a8b;
}

.specialties .specialties-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.specialties .specialties-box h3 p{
    text-align: justify;
}

/* ABOUT */
section.about {
    padding: 80px 4%;
}

section.about .flex {
    align-items: center;
    gap: 60px;
}

.about .txt-about {
    color: #fff;
}

.about .txt-about h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
}

.about .txt-about h2 span {
    color: #551a8b;
    display: block;
}

.about .txt-about p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social a i {
    margin: 0 14px;
    width: 60px;
    height: 60px;
    font-size: 40px;
    cursor: pointer;
    transition: .2s;

}

.btn-social a i:hover{
    transform: scale(1.08);
    text-decoration: none;
    color: #ab51ff;
    
}

/*PORTFOLIO*/
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff17;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5c5c5cab;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* FORM */
section.form {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form input::placeholder,
form textarea::placeholder {
    color: #fff;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit] {
    width: 120px;
    background-color: #551a8b;
    color: #fff;
    font-size: 700;
    cursor: pointer;
    transition: .2s;
}

/* FOOTER */
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff17;
}

footer .flex {
    justify-content: end;
}

footer .line-footer {
    padding: 20px 0;
}

.border {
    border-top: 2px solid #551a8b;
}

footer .line-footer p i {
    color: #551a8b;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

/* ================== */
/* AUTOMATIC RESPONSE */
/* ================== */

/* STYLES FOR FLOATING MESSAGES */
.floating-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    animation: fadeIn 0.3s ease-out;
    max-width: 90%;
    box-sizing: border-box;
}

.message-success {
    background: #551a8b;
}

.message-error {
    background: #f44336;
}

.message-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    fill: white;

}

/* ANIMATIONS */
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}

/* ========== */
/*   @MEDIA   */
/* ========== */
@media screen and (max-width: 1100px) {

    /* GENERAL CLASS */
    .flex {
        flex-direction: column;
    }

    h2.title {
        font-size: 34px;
        line-height: 30px;
    }

    .up-site .flex {
        flex-direction: column-reverse;
    }

    h2.title {
        font-size: 34px;
        line-height: 30px;
    }

    /* HEADER */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* UP-SITE */
    section.up-site .flex {
        gap: 40px;
    }

    section.up-site {
        padding: 20px 8%;
    }

    .up-site h1 {
        font-size: 24px;
    }

    .up-site .img-up-site img {
        width: 100%;
    }

    /* SPECIALTIES */
    section.specialties {
        padding: 40px 8%;
    }

    /* ABOUT */
    section.about {
        padding: 80px 4%;
    }

    .about .txt-about h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-about {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    /* PORTFOLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    /* FOOTER */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
}




/* .specialties-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.specialties-box i {
  font-size: 2.5rem;
  color: #0d6efd; /* Cor do ícone (azul Bootstrap) 
}

.specialties-box h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #212529;
}

.skills-list {
  width: 100%;
  padding-left: 1rem;
  list-style-type: none;
}

.skills-list li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Responsividade */
/* @media (max-width: 768px) {
  .specialties-box {
    padding: 1.5rem;
  }
} */ 

